html,body{
    width: 100%;
  height: 100%;
  background-color: teal;
  background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1{
    color:white;
    font-family: 'Bangers', cursive;
    font-size: 4em;


    transition: transform 1s;
  }
  
  h1:hover {
     transform: translate(20px, 20px);
  }


.box1{
    border: 3px solid white;
    height: 300px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
button{
    height:3em;
    text-align: center;
    padding:10px 20px;
    margin:20px 40px;
    cursor:pointer;
    display:inline-block;
    color:white;
    font-size:2em;
    border:1px solid white;
    border-color: white;
    background:teal;
    border-radius:4px;
    line-height:1em;
    border:1px solid #aaa;
    text-decoration:none;

    -webkit-transition: all 0.3s linear;
     -khtml-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}



button:hover{
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

